#titulo {
    text-align: center;
}
body{
    background-color: #ADD8E6;
}
/* usa esse para colocar comentario no css*/
h1{
    color:blue;
    text-align:left;
    font: size 60px;
}
.texto{
   color: brown;
    text-align: left;
    font: size 50;
}
em strong {
    color: #FF0000;
}